<%- include ('../partials/header') -%>

  <title>Home</title>

<%- include ('../partials/css') -%>
<!-- jika ada tambahan css disini -->
<%- include ('../partials/navbar') -%>
<!-- content disini -->
<h1>ini contoh</h1>
<%- include ('../partials/footer') -%>
<!-- jika ada tambahan js disini -->